/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/mouse.h>

// Set mouse movement speed before including pointing.h

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1500  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20    // default: 10

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE 0
#define NAV  1
#define MOUSE  2
#define GAMING  3
#define GAMING_2 4
#define GAMING_3 5
#define NUMBER 6
#define SYMBOL_SHIFT 7
#define HOMEROW_LEFT 8
#define HOMEROW_RIGHT 9
#define FUNCTION 10
#define ADJUST 11
#define B0     BT_SEL 0
#define B1     BT_SEL 1
#define B2     BT_SEL 2
#define B3     BT_SEL 3
#define B4     BT_SEL 4
#define B5     BT_SEL 5
#define OTGL   out OUT_TOG
#define BT_C   BT_CLR
#define BT_C_A BT_CLR_ALL

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <135>;
    require-prior-idle-ms = <125>;
};

// Configure mouse movement for quick response with acceleration

/ {
    behaviors {
        td_left_thumb: tap_dance_left_thumb {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mo 8>, <&mo 1>;
        };

        td_right_thumb: tap_dance_right_thumb {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mo 9>, <&mo 6>;
        };
    };

    combos {
        compatible = "zmk,combos";

        reset_layers {
            bindings = <&to 0>;
            key-positions = <30 29>;
            require-prior-idle-ms = <100>;
        };

        quote {
            bindings = <&kp SQT>;
            key-positions = <15 16>;
            layers = <0>;
        };

        system_layer {
            bindings = <&to 11>;
            key-positions = <28 30 29 31>;
            layers = <0>;
        };

        // Left hand modifiers with left space
        // Right hand modifiers with right space

        activate-gaming {
            bindings = <&to 3>;
            key-positions = <8 9 10>;
            layers = <0>;
        };

        q {
            bindings = <&kp Q>;
            key-positions = <0 1>;
            layers = <0>;
            require-prior-idle-ms = <125>;
        };

        p {
            bindings = <&kp P>;
            key-positions = <6 7>;
            layers = <0>;
            require-prior-idle-ms = <125>;
        };

        esc {
            bindings = <&kp ESC>;
            key-positions = <1 2>;
            layers = <0>;
            require-prior-idle-ms = <125>;
        };

        grave {
            bindings = <&kp GRAVE>;
            key-positions = <14 15>;
            layers = <0>;
        };
    };

    macros {
        delete: delete {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp LS(BACKSPACE)>;

            label = "DELETE";
        };

        alt_tab: alt_tab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp TAB>,
                <&macro_release>,
                <&kp LALT>;

            label = "ALT_TAB";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            label = "BASE";
            bindings = <
&kp W           &kp E      &kp R      &kp T  &kp Y  &kp U  &kp I  &kp O
&kp A           &kp S      &kp D      &kp F  &kp G  &kp H  &kp J  &kp K      &kp L    &kp SEMI
&kp Z           &kp X      &kp C      &kp V  &kp B  &kp N  &kp M  &kp COMMA  &kp DOT  &kp FSLH
&td_left_thumb  &kp SPACE  &kp SPACE  &td_right_thumb
            >;
        };

        nav {
            label = "NAV";
            bindings = <
&kp LEFT_ARROW  &kp LEFT  &kp UP     &kp PG_UP  &kp TAB    &kp LEFT   &kp UP    &kp RIGHT
&kp BACKSPACE   &kp HOME  &kp DOWN   &kp END    &kp PG_DN  &kp PG_UP  &kp HOME  &kp DOWN   &kp END  &trans
&trans          &trans    &kp LSHFT  &kp LALT   &kp TAB    &kp PG_DN  &trans    &trans     &trans   &trans
&trans          &trans    &trans     &trans
            >;
        };

        mouse {
            label = "MOUSE";
            bindings = <
&mmv MOVE_LEFT  &mmv MOVE_LEFT  &mmv MOVE_UP    &msc SCRL_UP  &msc SCRL_LEFT   &mmv MOVE_LEFT  &mmv MOVE_UP  &mmv MOVE_RIGHT
&kp BACKSPACE   &mkp MB2        &mmv MOVE_DOWN  &mkp MB1      &msc SCRL_DOWN   &msc SCRL_UP    &mkp MB1      &mmv MOVE_DOWN   &mkp MB2  &trans
&msc SCRL_LEFT  &mkp MB5        &mkp MB3        &mkp MB4      &msc SCRL_RIGHT  &msc SCRL_DOWN  &mkp MB4      &mkp MB3         &mkp MB5  &trans
&trans          &trans          &trans          &trans
            >;
        };

        gaming {
            label = "GAMING";
            bindings = <
&kp A           &kp W      &kp D        &kp E   &kp EQUAL  &kp N7     &kp N8  &kp N9
&mo 4           &kp Q      &kp S        &kp R   &kp F      &kp MINUS  &kp N4  &kp N5  &kp N6  &kp BACKSPACE
&mo 5           &kp Z      &kp X        &kp C   &kp V      &kp DOT    &kp N1  &kp N2  &kp N3  &kp N0
&kp LEFT_SHIFT  &kp SPACE  &lt 9 SPACE  &trans
            >;
        };

        gaming_2 {
            label = "GAMING_2";
            bindings = <
&kp A           &kp W      &kp D        &kp T   &kp EQUAL  &kp N7     &kp N8  &kp N9
&kp LEFT_ALT    &kp Q      &kp S        &kp R   &kp G      &kp MINUS  &kp N4  &kp N5  &kp N6  &kp BACKSPACE
&kp TAB         &kp Z      &kp X        &kp C   &kp B      &kp DOT    &kp N1  &kp N2  &kp N3  &kp N0
&kp LEFT_SHIFT  &kp SPACE  &lt 9 SPACE  &trans
            >;
        };

        gaming_3 {
            label = "GAMING_3";
            bindings = <
&kp A         &kp W      &kp D        &kp NUMBER_1  &kp EQUAL     &kp N7     &kp N8  &kp N9
&kp LEFT_ALT  &kp Q      &kp S        &kp R         &kp NUMBER_2  &kp MINUS  &kp N4  &kp N5  &kp N6  &kp BACKSPACE
&kp TAB       &kp Z      &kp X        &kp C         &kp NUMBER_3  &kp DOT    &kp N1  &kp N2  &kp N3  &kp N0
&kp LCTRL     &kp LSHFT  &lt 9 SPACE  &trans
            >;
        };

        number {
            label = "NUMBER";
            bindings = <
&alt_tab  &trans  &kp LS(LEFT_BRACE)  &kp LS(RIGHT_BRACE)   &kp EQUAL              &kp N7      &kp N8        &kp N9
&trans    &trans  &trans              &kp LBKT              &kp RBKT               &kp MINUS   &kp N4        &kp N5  &kp N6  &kp BSPC
&trans    &trans  &trans              &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp PERIOD  &kp NUMBER_1  &kp N2  &kp N3  &kp N0
&trans    &trans  &trans              &trans
            >;
        };

        symbol_shift {
            label = "SYMBOL";
            bindings = <
&trans      &trans  &trans  &trans  &kp LS(EQUAL)  &kp LS(N7)      &kp LS(N8)        &kp LS(N9)
&trans      &trans  &trans  &trans  &trans         &kp LS(MINUS)   &kp LS(NUMBER_4)  &kp LS(N5)        &kp LS(NUMBER_6)  &kp BACKSPACE
&trans      &trans  &trans  &trans  &trans         &kp LS(PERIOD)  &kp LS(NUMBER_1)  &kp LS(NUMBER_2)  &kp LS(NUMBER_3)  &kp LS(N0)
&kp LS(N0)  &trans  &trans  &trans
            >;
        };

        homerow_left {
            label = "HMLEFT";
            bindings = <
&kp TAB   &kp ESCAPE  &kp DELETE  &kp BACKSPACE  &trans       &trans  &trans  &trans
&sk LGUI  &sk LALT    &sk LCTRL   &sk LSHFT      &kp ENTER    &trans  &trans  &trans  &trans  &trans
&trans    &trans      &trans      &trans         &key_repeat  &trans  &trans  &trans  &trans  &trans
&trans    &trans      &trans      &trans
            >;
        };

        homerow_right {
            label = "HMRIGHT";
            bindings = <
&trans  &trans  &trans  &trans  &kp BACKSPACE  &kp DEL      &kp ESC    &kp TAB
&trans  &trans  &trans  &trans  &trans         &kp ENTER    &sk LSHFT  &sk LCTRL  &sk LALT  &kp LGUI
&trans  &trans  &trans  &trans  &trans         &key_repeat  &trans     &trans     &trans    &trans
&trans  &trans  &trans  &trans
            >;
        };

        function {
            label = "FUNCTION";
            bindings = <
&kp F9  &kp F10  &kp F11  &kp F12  &trans  &trans  &trans  &trans
&trans  &kp F5   &kp F6   &kp F7   &kp F8  &trans  &trans  &trans  &trans  &trans
&trans  &kp F1   &kp F2   &kp F3   &kp F4  &trans  &trans  &trans  &trans  &trans
&trans  &trans   &trans   &trans
            >;
        };

        adjust_layer {
            label = "SYSTEM";
            bindings = <
&trans       &bt BT_NXT  &bt BT_CLR  &out OUT_TOG    &trans  &trans  &trans  &trans
&bootloader  &trans      &bt BT_PRV  &trans          &trans  &trans  &trans  &trans  &trans  &trans
&sys_reset   &sys_reset  &trans      &bt BT_CLR_ALL  &trans  &trans  &trans  &trans  &trans  &trans
&trans       &trans      &trans      &trans
            >;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
